*
{
    padding: 0;
    margin: 0;
}

@keyframes animate1 {
    0%{
        transform: rotateZ(0);
    }50%{
        transform: rotateZ(180deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}


body{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
linear-gradient(0deg, #1C1C65, #1C1C65);
overflow-x: hidden;

}
@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: Righteous;
    src: url(./fonts/Righteous/Righteous-Regular.ttf);
}

@font-face {
    font-family : Manrope;
    src: url(./fonts/Manrope/static/Manrope-Regular.ttf);
}

.Navbar
{   
    width: 100%;
    height: 90px;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    &>.logo
    {
        width: 20%;
    }
    &>.links
    {
        width: 70%;
        display: flex;
        justify-content: space-around;
     &>a{
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height:50px;
                    text-decoration: none;
                    /* identical to box height, or 173% */

                    letter-spacing: 2px;
                    font-feature-settings: 'liga' off;

                    color: #FFFFFF;
                }
            }
}


.index
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home
{
    width: 66.6%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;


    &>.banner
    {
        width:100%;
        display: flex;
        justify-content: space-between;


        &>.left
        {
            width: 50%;
            height: auto;
            &>h1{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 48px;
                line-height: 119.5%;
                margin: 33px 0;
                /* or 57px */


                color: #FFFFFF;
            }
            &>.neon_button
            {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 6.63918px;
                width: 360px;
                height: 49.13px;

                box-shadow: 0px 0px 17.9258px #335AFB;
                border-radius: 11.2866px;
                border: 3px solid #235be9;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 19.9174px;
                /* identical to box height */

                text-transform: capitalize;

                color: #FFFFFF;
                box-sizing: border-box;
            }

            &>.title_image
            {
                margin-top: 62px;
            }
        }
        &>.right
        {
            width: 50%;

            &>.texno1{
                margin-top: 220px;
                margin-left: 20px;
                position: absolute;
            }
            
            &>.texno2{
                margin-top: 500px;
                margin-left: 230px;
                position: absolute;
            }
        }

        &>.images
        {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;

            &>.shar1{
                position: absolute;
                width: 49.55px;
                height: 49.55px;
                left: 79px;
                top: 229px;
            }
            &>.shar2{
                position: absolute;
                width: 36.66px;
                height: 36.66px;
                left: 876px;
                top: 360px;
            }
            &>.shar3{
                position: absolute;
                width: 49.55px;
                height: 49.55px;
                left: 1024px;
                top: 506px;
            }
            &>.shar4{
                position: absolute;
                width: 49.55px;
                height: 49.55px;
                left: 1096px;
                top: 734px;
            }
            &>.shar5{
                position: absolute;
                width: 36.66px;
                height: 36.66px;
                left: 1389px;
                top: 236px;
            }
            &>.shar6{
                position: absolute;
                left: 63.1%;
                right: 34.1%;
                top: 70.95%;
                bottom: 23.36%;
            }
            &>.shar7{
                position: absolute;
                left: 80.1%;
                right: 30.1%;
                top: 5.95%;
            }

        }
    }
    &>.activity
    {
        width: 100%;
        height: 540px;
        padding: 10% 0;


        font-family: 'Righteous';
        font-style: normal;
        font-weight: 400;
        font-size: 44.4512px;
        line-height: 60px;

        color: #FFFFFF;

        background-image: url(../images/png/about3.png);
        background-repeat: no-repeat;
        background-position: right 5% center ;
        background-size: 35%;


       &>.left{
           width: 60%;
           height: 550px;
           box-sizing: border-box;
           display: flex;
           justify-content: space-around;
           flex-direction: column;


        &>ul
        {
            margin-left: 50px;

            &>li{
                margin: 10px 0;
                list-style: decimal;
            }
        }
        &>.neon_button
        {
            width: 90%;
            height: 56.34px;

            text-align: center;

            background: linear-gradient(112.91deg, rgba(255, 255, 255, 0.357) 3.51%, rgba(255, 255, 255, 0) 111.71%);
            filter: drop-shadow(36.3443px 43.6132px 72.6886px rgba(0, 0, 0, 0.05));
            backdrop-filter: blur(50.882px);
            /* Note: backdrop-filter has minimal browser support */

            border-radius: 7.26886px;
            box-shadow: 36.34430694580078px 43.61316680908203px 72.68861389160156px 0px #0000000D;
            border:3px solid #ffff;

            
            
        }
       }
    }

    &>.carusel
    {
        width: 100%;
        height: 550px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;


        &>.react-3d-carousel
        {
            z-index: 2;
        }
        

        &>img{
            width: 95%;
            height: 100%;
            top: 5%;
            align-self: center;

            mix-blend-mode: overlay;
            z-index: 1;
        }
    }

    &>.mobile
    {
        width: 100%;
        padding: 10% 0;
        display: flex;
        justify-content: space-between;
        align-items: center;


        &>h1{
            width: 600px;
            font-family: 'Righteous';
            font-style: normal;
            font-weight: 400;
            font-size: 33.5294px;
            line-height: 42px;
            text-align: center;

            color: #FFFFFF;
        }
    }
}


.expertise
{
    width: 600px;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &>.block{

        width: 455px;
        height: 210px;
        background: linear-gradient(112.91deg, rgba(255, 255, 255, 0.357) 3.51%, rgba(255, 255, 255, 0) 111.71%);
        filter: drop-shadow(44.7368px 53.6842px 89.4737px rgba(0, 0, 0, 0.05));
        backdrop-filter: blur(62.6316px);
        /* Note: backdrop-filter has minimal browser support */

        border-radius: 8.94737px;
        border: 2.5px solid #fff;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;


        &>.info
        {
            width: 80%;
            font-family: 'Poppins';
            font-style: italic;
            font-weight: 400;
            font-size: 18.5263px;
            line-height: 30px;
            /* or 163% */


            color: #24FEFF;
        }
        &>.name
        {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            /* or 163% */


            color: #fff;
        }

        &>.role{
            width: 60%;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 20px;
            /* identical to box height */


            color: #FFFFFF;
        }

        &>.expert_image
        {
            position: absolute;
            right: 36px;
            bottom: 12px;
        }
    }
}


.expertise_block
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;


    &>.left{
        background: url(../images/background/raketa.png);
        background-position: right center;
        background-repeat: no-repeat;
    }
    &>.right{
        background: url(../images/background/sxema.png);
        background-position: right center;
        background-repeat: no-repeat;
    }
}


#gif
{
    width: 1920px;
    height: auto;
    margin: 200px 0;
    margin-left: -26%;
    position: relative;

    &>img{
        position: relative;
        z-index: 1;
    }

    &>p{
        z-index: 2;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 66.3511px;
        line-height: 100px;
        /* identical to box height */

        font-feature-settings: 'liga' off;
        position: absolute;

        color: #FFFFFF;
        margin: 144px 310px;
    }

}

.service
{

    width: 100%;
    height: auto;
    &>.title{
        width: 100%;
        text-align: center;
        padding: 50px 0;
        box-sizing: border-box;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 82px;
        /* identical to box height, or 171% */
        
        letter-spacing: 1px;
        
        color: #FFFFFF;
    }

   &>.block{

    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    flex-direction: row;
    align-items: center;
    height: 250px;
    &>.icon
    {
        width: 150px;
        &>.block{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 150px;
            height: 150px;

            background: rgba(255, 255, 255, 0.095);
            box-shadow: inset 2.01px -2.01px 20px rgba(214, 214, 214, 0.17), inset -3.01333px 3.01333px 3.01333px rgba(255, 255, 255, 0.39);
            backdrop-filter: blur(74.4293px);
            /* Note: backdrop-filter has minimal browser support */

            border-radius: 26px;
        }
        &>.title{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            /* or 150% */

            text-align: center;

            color: #FFFFFF;
        }
    }
   }
}



.Professional
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    

    &>marquee{
        width: 750px;
        position: absolute;
        margin-top: 26%;
        z-index: 2;
        &>.pro
    {
        width: 100%;
        height: 53.87px;
        z-index: 1;

        // background: linear-gradient(90deg, rgba(255, 255, 255, 0.75) 0%, rgba(128, 128, 128, 0) 100%);
        background-blend-mode: overlay;
        mix-blend-mode: overlay;

    }
    }
}


.Partners
{
    width: 100%;
    text-align: center;

    &>.title
    {
        font-family: 'Righteous';
        font-style: normal;
        font-weight: 400;
        font-size: 60px;
        line-height: 75px;
        letter-spacing: 0.045em;

        color: #FFFFFF;
    }
    &>.block{
        width: 100%;
        height: auto;
        padding: 30px 0;

        &>ul{
            width: 100%;
            height: 500px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            list-style: none;

            &>li{
                width: 33%;
            }
        }
    }
}

.google
{
    width: 100%;
    min-height: 500px;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;

   &>.google_block
   {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    &>.map{
        width: 45%;
        display: flex;
        justify-content: space-between;
        &>iframe
        {
            border-radius: 10px;
        }
   }
   }
   &>.title{
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 75px;
    letter-spacing: 0.045em;

    color: #FFFFFF;
   }
}

.footer
{
    width: 100%;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &>.block
    {
        display: flex;
        justify-content: space-between;

        &>div{
            width: 40%;
            &>p
            {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 167.7%;
                /* or 30px */


                color: #FFFFFF;
            }
        }

        &>.center
        {
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            &>.center_block
            {
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                
            }
        }
        &>.right
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
        }
    }
}

.services
{
    width: 66.6%;


}


.banner2
{
    width: 100%;
    height: 900px;
    display: flex;

    &>.left
    {
        width: 50%;
        float: left;
        &>ul{
            width: 100%;
            list-style: none;
            &>li{
                width: 100%;
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 800;
                font-size: 32.7576px;
                line-height: 45px;
                display: flex;
                align-items: center;

                color: #FFFFFF;
            }
        }  
    }
    &>.right
    {
        width: 60%;
        height: auto;
        display: flex;
        float: right;

        &>.rightblock{
            width: 100%;
            &>.rasm
                {
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                    &>img{
                        position: absolute;
                    }

                    &>.rasm{
                        align-self: center;
                    }
                    &>.aylanadigan{
                        width: 310px;
                        margin-top: -10px;
                        right: 27.5%;
                        animation: animate1 infinite 5s linear;
                    }
                }
        }
    }

}

.neon_button
{
    max-width: max-content;
    padding: 0px 50px;
    height: 54px;
    margin: 0px 0;
    border: 3.13px solid #678ff3 ;
    text-align: center;
    color: #fff;
    border-radius: 17.7204px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 28.14412498474121px 0px rgba(51, 90, 251, 1);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24.1017px;
    // line-height: px;
    /* identical to box height */

    text-transform: uppercase;

    color: #FFFFFF;


}
  

.Block_right{
    width: 100%;
    margin: 100px 0;
    display: flex;
    justify-content: space-between;

    &>.left{
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &>ul{
            width: 100%;

            &>li{
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 800;
                font-size: 25px;
                line-height: 40px;
                /* or 158% */

                font-feature-settings: 'liga' off;

                color: #E5E5E5;
                margin-left: 30px;
            }
        }

    }
    .right{
        display: flex;
        justify-content: right;
        align-items: flex-start;

        &>div{
            align-self: center;
            justify-self: center;
        }
    }
}







.Block_left{
    margin: 100px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;


    &>.yutub{
        align-self: center;
        justify-self: center;
    }
    &>.right{
        width: 50%;
        height: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &>ul{
            width: 100%;

            &>li{
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 800;
                font-size: 25px;
                line-height: 40px;
                /* or 158% */

                font-feature-settings: 'liga' off;

                color: #E5E5E5;
                margin-left: 30px;
            }
        }

    }
    .left{
        height: 100%;
        display: flex;
        justify-content: right;
        align-items: flex-start;
        align-self: center;
    }
}



.services .block{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &>img{
        height: auto;
    }
} 


.back{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &>p{
        width: 100%;
        padding:0 20%;
        font-family: 'Righteous';
        font-style: normal;
        font-weight: 400;
        font-size: 45.0866px;
        line-height: 63px;
        text-align: center;
        font-feature-settings: 'liga' off;

        color: #FFFFFF;
    }
    
}

.service_block
{
    width: 66.6%;
}

.service_block .Block_right  .left
{
    justify-content: space-around;
}

.yours-custom-class img{
    width: 451px;
    height: 340px;
    margin-right: 5%;
    float: right;
    box-sizing: border-box;
}



// 


.alice-carousel__stage-item
{
    margin:0 3%;
}

.service_block .block{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.service_block .log
{
    width: 100%;
    margin: 100px 0;
    height: auto;
    display: flex;
}

.service_block .log .right{
    width: 50%;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
}
.service_block .log .right ul{
    width: 90%;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 21.89px;
line-height: 40px;
/* or 181% */

font-feature-settings: 'liga' off;

color: #E5E5E5;
}

// .service_block .log .neon_button
// {
//     max-width: 80%;
//     padding: 0 30px;
// }

.log .urta{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.forma{
    width: 100%;
    min-height: 950px ;
    display: flex;
    justify-content: left;
    padding: 0px 0px;
    box-sizing: border-box;
    position: relative;

    &>.image{
        width: 1000px;
        position: absolute;
        bottom: -200px;
        right: -200px;

    }


    &>.blokk{
        display: flex;
        width: 948px;
        height: 632px;
        background: rgba(47, 47, 138, 0.6);
        backdrop-filter: blur(20px);
        /* Note: backdrop-filter has minimal browser support */

        border-radius: 30px;

        &>.left{
            width: 50%;
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &>h1{
                width: 60%;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 143.2%;
                /* or 34px */


                color: #FFFFFF;

            }
            &>p{
                width: 60%;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 17px;
                line-height: 24px;
                /* or 24px */


                color: #FFFFFF;
                display: flex;
                line-height: 40px;
                margin: 7px 0;

                &>i{
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 16px;

                    background: rgba(255, 255, 255, 0.3);
                    border-radius: 50%;

                    &>img{
                        width: 20px;
                    }
                }
            }
        }
        &>.right{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            &>h2{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 143.2%;
                /* or 34px */
                color: #FFFFFF;
                /* Inside auto layout */
                flex: none;
            }
            &>input{
                width: 340px;
                height: 40px;

                background: rgba(255, 255, 255, 0.3);
                box-shadow: 0px 10px 20px rgba(7, 7, 26, 0.15);
                border-radius: 10px;

                /* Inside auto layout */

                flex: none;
                border: none;
                padding: 10px 20px;
                box-sizing: border-box;

                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 143.2%;
                /* or 21px */


                color: #FFFFFF;
            }
            &>input:focus{
                outline: none;
            }
            &>input::placeholder{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 143.2%;
                /* or 21px */


                color: #FFFFFF;


                /* Inside auto layout */

                flex: none;
            }


            &>textarea{
                width: 340px;
                height: 200px;

                background: rgba(255, 255, 255, 0.3);
                box-shadow: 0px 10px 20px rgba(7, 7, 26, 0.15);
                border-radius: 10px;

                /* Inside auto layout */

                flex: none;
                border: none;
                padding: 10px 20px;
                box-sizing: border-box;

                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 143.2%;
                /* or 21px */


                color: #FFFFFF;
            }
            &>textarea:focus{
                outline: none;
            }
            &>textarea::placeholder{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 143.2%;
                /* or 21px */


                color: #FFFFFF;


                /* Inside auto layout */

                flex: none;
            }


            &>button{
                width: 160px;
                height: 40px;
                line-height: 40px;

                background: linear-gradient(105.95deg, #C961DE 24.79%, #2954A3 71.87%);
                box-shadow: 0px 10px 20px rgba(7, 7, 26, 0.15);
                border-radius: 10px;

                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 15px;
                line-height: 143.2%;
                /* or 21px */


                color: #FFFFFF;
                border: none;
            }
        }

    }
}


#news
{
    width: 66.6%;

    &>#katta{
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 1100px;
        height: 485px;
        margin-top: 30px;
            
        border: 6px solid #3886E5;
        border-radius: 69px;
       
        &>#malumot{
            &>.rasm{
                position: absolute;
                right: 5px;
                bottom: 5px;
                z-index: -1;
            }
            
            width: 55%;
            &>.p{
               
                display: flex;
                flex-direction: column;
                width: 630px;
                height: 350px;
                left: 796px;
                top: 680px;
                justify-content: space-around;
                box-sizing: border-box;

                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 10px;
                line-height: 15px;
                display: flex;

                color: #FFFFFF;

                &>p{
                    &>span{
                        color: #f8d616;
                    }
                }

                &>ul
                {
                    margin-left: 20px;
                }
            }
        }
    }

    &>.yangiliklar{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 50px;
    }
}


.new
{
    width: 245px;
    height: 322px;

    /* Primary */

    background: #1F3794;
    border-radius: 10px;
    // display: flex;
    // justify-content: space-between;
    // flex-direction: column;
    position: relative;
    
    &>img{
        width: 245px;
        height: 184px;
        margin-bottom: 20px;
    }

    &>.some_text
    {
        max-width: 90%;
        margin-bottom:20px ;
        font-family: 'poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 130%;
        margin-left: 10px;
        /* or 23px */


        color: #f5efef;
    }
    &>button{
        position: absolute;
        bottom: 35px;
        right: 10px;
        background-color:transparent;
        border: none;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 130%;
        /* or 18px */


        color: #FFFFFF;
    }
}


  
#text
{
    width: 245px;
    padding: 10px;
    box-sizing: border-box;
    height: calc(90%+ 25%);
    position: relative;
    background-color:#1F3794 ;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;    
    bottom: -40px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 35px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    color: #FFFFFF;
}


.matrix
{
    margin: 10% 0;
}

.contact
{
    width: 66.6%;

    &>.neon_button
    {
        width: 483px;
        height: 62px;
        margin: 50px 0;
    }
}

@media only screen and (max-width:1439px) {
    .home{
        border: 1px solid blue;
    }

    #gif{
        width: 1439px;
        margin-left: -5%;
    }
    .expertise
{
    width: 950px;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;

    &>.block{

        width: 455px;
        height: 210px;}
    }
}


@media only screen and (max-width:1600px) {
    .home{
        width: 90%;
        overflow-x: visible;
    }

    #gif{
        
        width: 1599px; 
        align-items: center;
        z-index: 3;
        &>p{
            text-align: center;
        }
    }

    
    
   
}

